.footer-container {
    padding: 0 16px;
    background-color: black;
}
.main-footer-container {
    display: flex;
    justify-content:space-between;
    color: #fff;
    padding-top: 95px;
    padding-bottom: 114px;
    margin: 0 21px;
}
.footer-content  > a {
    display: block;
    margin-top: 16px;
}
.footer-content-icons {
    display: flex;
    gap: 10px;
}
.footer-map {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}
.term-and-policy {
    display: flex;
    gap: 10px;
}
.footer-container-mobile {
    display: none;
}

@media(max-width: 768px){
    .footer-container-desktop {
        display: none;
    }
    .footer-container-mobile {
        display: block;
    }
    .main-footer-container {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 45px;
        justify-content: center;
    }
    .footer-content-parent {
        display: flex;
        justify-content: space-between;
    }
    .footer-content  > a {
        margin-top: 10px;
    }
    .footer-content-icons {
        margin-top: 1.5rem;
        gap: unset;
        justify-content: space-around;
        align-items: center;
    }
    .footer-map {
        flex-direction: column;
    }
    .term-and-policy{
        justify-content: space-between;
    }
}