.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}
.header-menu {
    display: flex;
    gap: 20px;
}
.item {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;

}
.item:hover {
    border-bottom: 1px solid #000000;
}
.warning-bar {
    padding: 8px 38px;
    height: auto;
    background: #4d4d4f;
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
}
.warning-bar > div > a {
    margin-left: 5px;
    text-decoration: none;
    color: #e31837;
    letter-spacing: 0.5px;
    line-height: 21px;
}
.header {
    margin-top: 15px;
}
